{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "strict": ["error", "function"],
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "prefer-template": "error",
    "curly": "error",
    "default-case": "error",
    "indent": ["error", 2]
  }
}
